@import url("variables.css");

nav, #offcanvasNavbar {
    background-color: var(--color4);
}

nav button {
    border: 0 !important;
    padding: 0.25% 0.5% !important;
    line-height: normal !important;
}

button span {
    height: 30px !important;
    width: 30px !important;
}

button:active {
    border: 0;
}

.navbar {
    padding: 0.5% 1%;
}

.navbar-nav .navbar-brand {
    font-size: var(--font-size-medium);
}

.navbar-nav .nav-link {
    align-items: center;
    display: flex;
    font-size: var(--font-size-small);
    justify-content: space-between;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("../../public/navbar-icon.png");
}

.toggle-mode-icon {
    background: url("../../public/sun-icon-dark.png") no-repeat center;
    background-size: 90% 90%;
    display: inline-block;
    vertical-align: middle;
}

.btn-close {
    background-image: url("../../public/close-icon.png");
    border: 0 !important;
    box-sizing: border-box;
    position: absolute;
    right: 8px;
    top: 8px;
}

@media screen and (max-width: 768px), (max-height: 768px) {
    button span {
        height: 28px !important;
        width: 28px !important;
    }
}