@import url("variables.css");

button {
    border-radius: 0 !important;
    background-color: var(--color4) !important;
    border: 1px solid var(--color3) !important;
}

button h5 {
    background-color: var(--color3);
    margin: 0;
    margin-top: 10%;
    padding: 3%;
    position: relative;
    bottom: 0;
}

@media screen and (max-width: 768px), (max-height: 768px) {
    .page-icon {
      max-width: 40px;
    }
}