:root {
    /* Colors */
    --color1: #191919;
    --color2: #B7B7B7;
    --color3: #2F2F2F;
    --color4: #1B1E1F;
    --color5: #181A1B;
    --color6: #FFFFFF;
    
    /* Fonts */
    --default-font: "Source Code Pro", monospace;

    /* Font-size */
    --font-size-small: calc(0.8rem + 0.390625vw);
    --font-size-medium: calc(1rem + 0.390625vw);
    --font-size-large: calc(1.8rem + 0.390625vw);
  }